#task4Svg0 {
    fill: #ff0000;
    transform: scale(0.5);
}

#task4Svg1 {
    fill: #ffd800;
    transform: skew(20deg);
}

#task4Svg2 {
    fill: #808080;
    transform: rotateX(-50deg);
}

#task4Svg3 {
    fill: #8700ff;
    transform: scaleY(0.4);
}

#task4Svg4 {
    fill: #ff006e;
    transform: skewY(20deg);
}

#test {
    height: 200px;
    width: 200px;
    background-color: darkred;

    &:hover {
        background-color: red;
    }
}
