@media (max-width: 560px) {
    .mouse {
        flex-flow: column;
        margin-top: -250px;
        transition-duration: 1s;
    }

    .select {
        margin: 15px 0px 15px 0px;
        align-self: center;
    }

    .menu:hover .mouse {
        transition-timing-function: ease-in-out;
        transition-property: margin-top;
        margin-top: 0px;
    }
}