@font-face {
    font-family: "diablo";
    src: url("../../fonts/diablo.ttf");
}

* {
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

.menu {
    display: block;
    width: 70%;
    margin: 0 auto 10px auto;
    background-color: yellow;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

.mouse {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.select {
    border: 1px solid green;
    padding: 5px;
    background-color: pink;
}

    .select > a {
        text-decoration: none;
        color: darkred;
    }