.container {
    background: gray;
    padding: 30px;
    margin: 10px;
    position: relative;
}

.block {
    width: 100px;
    height: 100px;
}

.red-bg {
    background: red;
}

.green-bg {
    background: green;
}

.blue-bg {
    background: blue;
}

.second {
    position: absolute;
    top: 0;
    left: 0;
}

#popup {
    position: fixed;
    background: white;
    border: 1px solid black;
    padding: 50px;
    top: calc(50% - 60px);
    left: calc(50% - 101px);
    z-index: 9999;
}

#popup-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.8);
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9998;
}