@font-face {
    font-family: "Diablo";
    src: url("fonts/diablo.ttf");
}

* {
    font-family: Arial;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

.header, .box, .image {
    border: 2px solid silver;
    overflow: hidden;
}

.task1Container {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    justify-content: space-between;
}

.box {
    display: flex;
    width: 31%;
    margin: 10px;
    justify-content: center;
}

.void {
    display: flex;
    width: calc(31% + 4px);
    margin: 10px;
}

.image {
    height: 500px;
    width: 250px;
    background-repeat: round;
}

.img {
    width: inherit;
    height: inherit;
}

@media screen and (max-width: 768px) {
    * {
        font-size: 18px;
    }

    .images {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    * {
        font-size: 21px;
    }

    .image {
        height: 100px;
        width: 50px;
    }
}