body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.task1 {
    display: inline-block;
    perspective: 250px;
}

    .task1 img {
        height: 100px;
        margin: 10px;
        transition-delay: 0.5s;
        transition-duration: 2s;
        transition-timing-function: ease;
    }

    .task1:nth-of-type(1) img:hover {
        transform: scale(0.5);
    }

    .task1:nth-of-type(2) img:hover {
        transform: rotate(45deg);
    }

    .task1:nth-of-type(3) img:hover {
        transform: translateX(50px);
    }

    .task1:nth-of-type(4) img:hover {
        transform: rotateX(-20deg);
        transform-style: preserve-3d;
    }

.task1Border {
    border: 5px groove red;
    max-width: 755px;
}

.task2 {
    height: 200px;
    width: 200px;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task2Border {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px groove red;
}

.task3Border {
    height: 300px;
    width: 300px;
    border: 5px groove red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.task3 {
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: colorChange;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes colorChange {
    0% {
        color: red;
    }

    12.5% {
        color: orange;
    }

    25% {
        color: yellow;
    }

    37.5% {
        color: lightgreen;
    }

    50% {
        color: green;
    }

    62.5% {
        color: lightblue;
    }

    75% {
        color: blue;
    }

    87.5% {
        color: purple;
    }

    100% {
        color: darkred;
    }
}

.task4 {
    border: 5px groove red;
    animation-name: imgChange;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 666px;
    height: 333px;
    background-repeat: round;
}

@keyframes imgChange {
    0% {
        background-image: url("img/img5.jfif");
    }

    20% {
        background-image: url("img/img6.jfif");
    }

    40% {
        background-image: url("img/img7.jfif");
    }

    60% {
        background-image: url("img/img8.jpg");
    }

    80% {
        background-image: url("img/img9.jpg");
    }

    100% {
        background-image: url("img/img5.jfif");
    }
}

.task5Border {
    border: 5px groove red;
}

.task5 img {
    height: 150px;
    width: 100px;
}

#borderOne {
    width: 300px;
    border: 5px groove red;
}

#one {
    animation-name: task5Anim0;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 300px;
}

@keyframes task5Anim0 {
    0% {
        padding-left: 0px;
    }

    50% {
        padding-left: 200px;
    }

    100% {
        padding-left: 0px;
    }
}


#borderTwo {
    width: 100px;
    height: 350px;
    border: 5px groove red;
}

#two {
    animation-name: task5Anim1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes task5Anim1 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 200px;
    }

    100% {
        margin-top: 0px;
    }
}

#borderThree {
    width: 300px;
    height: 350px;
    border: 5px groove red;
}

#three {
    animation-name: task5Anim2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    max-width: 300px;
    max-height: 350px;
}

@keyframes task5Anim2 {
    0% {
        padding-top: 0px;
        padding-left: 0px;
    }

    25% {
        padding-top: 150px;
        padding-left: 50px;
    }

    50% {
        padding-top: 200px;
        padding-left: 200px;
    }

    75% {
        padding-top: 50px;
        padding-left: 150px;
    }

    100% {
        padding-top: 0px;
        padding-left: 0px;
    }
}


#borderFour {
    width: 300px;
    height: 350px;
    border: 5px groove red;
}

#four {
    animation-name: task5Anim3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    max-width: 300px;
    max-height: 350px;
}

@keyframes task5Anim3 {
    0% {
        padding-top: 0px;
        padding-left: 0px;
    }

    25% {
        padding-top: 200px;
        padding-left: 0px;
    }

    50% {
        padding-top: 200px;
        padding-left: 200px;
    }

    75% {
        padding-top: 0px;
        padding-left: 200px;
    }

    100% {
        padding-top: 0px;
        padding-left: 0px;
    }
}

.task6 {
    animation-name: task6;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    text-align: center;
}

@keyframes task6 {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    50% {
        color: rgba(0, 0, 0, 0.80);
    }

    100% {
        color: rgba(0, 0, 0, 0);
    }
}
