h1, h2, h3 {
    color: purple;
    font-family: 'Monotype Corsiva';
}

body {
    font-family: 'Segoe UI', sans-serif;
}

.taskOne {
    color: red;
    font-family: 'Times New Roman';
    font-size: 18pt;
}
.taskTwo {
    color: yellow;
    font-family: 'Times New Roman';
    font-size: 20pt;
}
.taskThree {
    color: green;
    font-family: 'Times New Roman';
    font-size: 22pt;
}

.navigator {
    color: black;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.textPage0 {
    background: #f0f0f0;
    margin: 1%;
    color: darkslategray;
}