@font-face {
    font-family: diablo;
    src: url(fonts/diablo.ttf);
}

body {
    background-color: black;
}

div[class=cell] {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkred;
    font-family: diablo;
    margin-right: 20px;
}

div[class=container] {
    display: flex;
    flex-direction: row;
}